body {
  font-family: 'Roboto', sans-serif;
}

ul {
  list-style-type: none;
}

.first.header {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 4.2;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.name {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;
  color: #212121;
}

.position {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;
  color: #757575;
}

.customers {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 3.6;
  letter-spacing: 0.06em;
  color: #212121;
}

.blue-logo {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 3.1;
  letter-spacing: 0.03em;
  color: #2196f3;
}

.header-style {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 3.1;
  letter-spacing: 0.03em;
  color: #000000;
  text-decoration: none;
}

.footer-style {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 3.1;
  letter-spacing: 0.03em;
  color: #000000;
  text-decoration: none;
}

.footer-adress {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 2.4;
  letter-spacing: 0.03em;
  color: #000000;
  text-decoration: none;
}

.blue-header {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.6;
  letter-spacing: 0.02em;
  color: #2196f3;
  text-decoration: none;
}

.black-header {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.6;
  letter-spacing: 0.02em;
  color: #000000;
  text-decoration: none;
}

.big-text {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 6;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #000000;
}

.first-button {
  width: 200px;
  height: 50px;
  left: 700px;
  top: 430px;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: #ffffff;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 3;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
}

.lorem-ipsum {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
}

.lorem-text {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 2.4;
  letter-spacing: 0.03em;
  color: #757575;
}

.second-button {
  width: 121px;
  height: 38px;
  left: 510px;
  top: 174px;
  background: #2196f3;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 2.6;
  text-align: center;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.third-button {
  width: 93px;
  height: 38px;
  left: 639px;
  top: 174px;
  background: #f5f4fa;
  border-radius: 4px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 2.6;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}
